/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the height of the body and html to 100% and hide the scrollbars */
body,

html {
  height: 100%;
}
body {
  overflow: hidden;
  
}

/* Set the size and position of the canvas element */
canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#orbit-controls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.229);
  border-radius: 50%;
  overflow: hidden;
  pointer-events: auto;
}
/* Add this at the end of the file */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the loading screen is above all other elements */
}

/* Replace #loading-message with #loading-animation */
#loading-animation {
  width: 100px; /* Adjust the size of the SVG animation */
  height: 100px; /* Adjust the size of the SVG animation */
}
#start-audio {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  z-index: 1000; /* Ensure the button is always visible above other elements */
}

#start-audio img {
  width: 50px;
  height: 50px;
}
